*{
    background-color: #6CEEE7;
}

#loginform > * {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
.forgot_text {
  color: #000;
  transition: color 0.2s ease;
}

#buttonwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot_text:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

#main_canvas{
  height: 100vh;
  background-color: #8AC0CC;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.navbar{
    background-color: #8AC0CC;
    min-height: 5%;
    width: 100%;
    align-items: end;
}

#Scedule_Button{
    background-color: #1ADCD3;
    min-width: 10%;
    font-size: 2rem;
    border-radius: 0.75rem;
    font-weight: bold;
    padding: 1rem;
    margin-left: 3rem;
    border-color: #000;
    cursor:pointer;
    align-self: self-start;
}

.sorting_bar{
  background-color: #63A8B7;
  font-size: 1.5rem;
  color: white;
}

#sorting_bar_box{
  padding: 1rem;
  border-radius: 0.75rem;
}

#Log_Out_Button{
    min-width: 10%;
    font-size: 2rem;
    border-radius: 0.75rem;
    font-weight: bold;
    padding: 1rem;
    margin-left: 3rem;
    border-color: #000;
    cursor:pointer;
}